.post-tile {
  background-size: cover;
  .overlay {
    a {
      color: $color-site-white;
    }
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:rgba(0,0,0,.90);
    opacity: 0;
    height: 100%;
    transition: $transition--base;
    &:hover {
      opacity: 1;
    }
  }
  .tags {
    color: $color-site-white;
    width: 50%;
    font-weight: 200;
  }
}
