{{!< default}}
<section class="site-block">
  <section class="site-block__child--intro">
    <p class="intro-text">{{@blog.description}}</p>
    {{!-- <p class="intro-text">Hell of fugiat snackwave affogato lyft helvetica. Vaporware everyday carry fanny pack, pickled affogato hammock tbh four dollar toast health goth 8-bit.</p> --}}
  </section>
</section>
<h2 id="projects" class="selected-projects"><a href="#projects">Selected Projects</a></h2>
<section class="site-block--blog grid-gallery">
  {{> "loop"}}
</section>
