{{!< default}}
<header class="site-header">
  <div class="site-header__logo">
    <a href="/">
      <img src="assets/images/lesaca-logo.svg" alt="Lesaca Logo">
    </a>
  </div>
  <h1>Lesaca</h1>
</header>
<section class="site-block l-half">

</section>
