{{!< default}}
<header class="site-header grid-half">
  <div class="site-header__logo">
    <a href="/">
      <img src="assets/images/lesaca-logo.svg" alt="Lesaca Logo">
    </a>
  </div>
  {{navigation}}
</header>
<section class="site-block">
  <section class="site-block__child">
    <p>I'm Dexter Lesaca a User Experience Engineer at IBM Design Studios in San Francisco, California.</p>
    <p></p>
  </section>
</section>
