{{!< default}}
<section class="site-block">
  <section class="site-block__child--intro">
    <p class="intro-text">{{@blog.description}}</p>
    <p></p>
  </section>
</section>
<section class="site-block--blog grid-gallery">
  {{> "loop"}}
</section>
