{{!< default}}
<section class="site-block">
  <section class="site-block__child--intro">
    <p class="intro-text">{{@blog.description}}</p>
    <p class="intro-text">Duis mustache quis hot chicken. Hell of fugiat snackwave affogato lyft helvetica. Vaporware everyday carry fanny pack, pickled affogato hammock tbh four dollar toast health goth 8-bit. Listicle live-edge williamsburg, slow-carb twee street art tempor next level wolf you probably haven't heard of them commodo labore meh 8-bit. Vape cardigan pariatur, messenger bag qui synth cronut flannel duis lyft master cleanse kale chips. Cliche PBR&B placeat kickstarter. Cliche retro brunch plaid next level squid.</p>
  </section>
</section>
<section class="site-block--blog grid-gallery">
  {{> "loop"}}
</section>
