{{!< default}}

{{#post}}
<article class="{{post_class}} post">

  <header class="post-header">
    <h1 class="post-title">{{title}}</h1>
    <section class="post-meta post-tags">
      {{tags}}
    </section>
  </header>

  <section class="post-content">
    {{content}}
  </section>

</article>
{{/post}}
