$site-padding: 1em;

body {
  background-color: $color-site-plum-50;
  background-image: url('../images/face_bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 80em;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  color: $text-01;
  @include line-height('body');
}

h1, h2, h3, h4 {
  @include line-height('heading');
}

h1 {
  @include font-size('51');
}

h2 {
  @include font-size('38');
}

h3 {
  @include font-size('28');
}

h4 {
  @include font-size('21');
}

a,
a:active {
  text-decoration: none;
  color: $link-01;
}

a:focus,
a:hover {
  transition: $transition--base;
  color: $link-hover;
}
