$site-padding: 1em;

body {
  background-color: $color-site-plum;
  background-image: url('../images/face_bg.jpg');
  background-repeat: no-repeat;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  color: $color-site-white;
  @include line-height('body');
}

h1, h2, h3 {
  @include line-height('heading');
}

h1 {
  @include font-size('51');
}

h2 {
  @include font-size('38');
}

h3 {
  @include font-size('51');
}



a,
a:active {
  color: $color-site-pink;
}
