body {
  background-color: $color-site-white;
  background-size: 80%;
  font-family: 'Fira Sans', sans-serif;
  color: $color-site-black;
  @include line-height('body');
}

p {
  margin: 1em 0;
}

h1, h2, h3, h4 {
  @include butler;
  @include line-height('heading');
}

h1 {
  @include font-size('51');
}

h2 {
  @include font-size('38');
}

h3 {
  @include font-size('28');
}

h4 {
  @include font-size('21');
}

a,
a:active {
  text-decoration: none;
  color: $link-02;
}

a:focus,
a:hover {
  transition: $transition--base;
  color: $link-hover;
}
