$color-site-plum: #2a0926;
$color-site-plum-10: lighten($color-site-plum, 10%);
$color-site-plum-20: lighten($color-site-plum, 20%);

$color-site-navy: #010326;
$color-site-navy-10: lighten($color-site-navy, 10%);
$color-site-navy-20: lighten($color-site-navy, 20%);

$color-site-blue: #012840;
$color-site-blue-10: lighten($color-site-blue, 10%);
$color-site-blue-20: lighten($color-site-blue, 20%);

$color-site-pink: #f30b55;
$color-site-pink-10: lighten($color-site-pink, 10%);
$color-site-pink-20: lighten($color-site-pink, 20%);

$color-site-gray: #54717f;

$color-site-white: #ffffff;
$color-site-black: #000000;
