//-------------------
// Global
//-------------------

@import 'reset';
@import 'font-face';
@import 'typography';

body {
  background-color: #2a0926;
  background-image: url("../images/face_bg.jpg");
  background-repeat: no-repeat;
}
